html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
#nowPlayingBarContainer{
    width: 100%;
    background-color: #202020;
    bottom: 0;
    position: fixed;
    min-width: 620px; 

}
#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}
#nowPlayingLeft,
#nowPlayingRight{
    width: 30%;
    min-width: 180;
}
#NowPlayingRight{
    position: relative;
    min-width: 16px;
}
#nowPlayingCenter{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
#nowPlayingBar .content{
    width: 100%;
    height: 57px;
}
 .buttons{
    margin: 0 auto;
    display: table;

}
.controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;

}

.controlButton img{
    width: 30px;
    height: 30px;

}
.controlButton.play img, 
.controlButton.pause img
{
    width: 32px;
    height: 32px; 

}
.controlButton:hover{
    cursor: pointer;

}
.progressTime{
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;

}
.playbackBar{
    display: flex;
}
.progressBar{
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;

}
.progressBarBG{
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;

}
.progress{
    background-color: #a0a0a0;
    height: 4px;
    width: 0%;
    border-radius: 2px;

}
.playbackBar .progressBar{
    margin-top: 3px;
}
#nowPlayingLeft .albumArtwork{
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    /* color: black; */
    float: left;
    background-size: cover;
}
.trackInfo{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;

}
#nowPlayingLeft .trackInfo .trackName{
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}
#nowPlayingLeft .trackInfo{
    display: table;

}
#nowPlayingLeft .artistName{
    font-size: 12px;
    color: #a0a0a0;
}
.volumeBar{
    width: 180px;
    position: absolute;
    right: 0;
}
.volumeBar .progressBar{
    width: 125px;


}
#TopContainer{
    min-height: 100%;
    width: 100%;
}
#NavBarContainer{
    background-color: black;
    height: 100vh;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    
    
}
.navBar{
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
.logo img{
    width: 32px;
    margin-bottom: 15px;

}
.navBar .group{
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}
.navBar .group .NavItem{
    padding: 10px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    left: 0;
    right: 0;

}
.NavItemLink{
    color: #a0a0a0;
    text-decoration: none;
}
.NavItem :hover{
    color: #ffffff;
}
.group .NavItem img{
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;

}