/* APPLY TO HTML AND BODY */
html,body{
    padding: 0;
    margin: 0;
    height: 100%;


}


#background{
    background-color: #000;
    background-image: url(../img/photo-1542281286-9e0a16bb7366.jpeg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    

}
/* * means all */
#loginContainer * {
color: #ffff;
font-family: "Helvetica Neue", "Helvetica","Ariel",sans-serif;
font-weight: normal;
line-height: 1em;
/* specify width should take in consideration of padding */
box-sizing: border-box;
}
#loginContainer{
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;

}

/* input placeholder color change */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
    color:    #fff;
}



#inputContainer{
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid;
    color: #999;

}
#inputContainer h2{
    text-align: center;
}

/* all input fields type = text */
#inputContainer input[type="email"],
#inputContainer input[type="password"],
#inputContainer input[type="text"]{
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    height: 27px;
    line-height: 27px;
    width: 100%;
}
#inputContainer label{
    color: #a0a0a0;
    margin-top: 15px;
    display: block;
    font-size: 13px;

}
#inputContainer button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 250px;
    color: white;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}
#inputContainer button:hover{
    cursor: pointer;

}
.hasAccountText span{
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
   

}
.hasAccountText{
    text-align: center;
}

#loginform{
    display: none;
}
#registerform{
    display: none;

}
#loginText{
    padding: 45px;
    display: table-cell;

}
#loginText h1{
    color: #07d159;
    font-size: 40px;
    font-weight: bold;

}
#loginText h2{
    margin: 35px 0;
}
#loginText ul{
   padding: 0;

}
#loginText li{
    font-size: 20px;
    list-style-type: none;
    padding: 8px 52px ;
    background: url(../img/icons/icons8-checkmark-48.png) no-repeat 0, 0;

}
#loginContainer .errorMessage{
    color: #07d159;
    font-size: 12px;
    display: block;
}